html { font-family: sans-serif; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

#blow_out, #replay, #github, #continue { border-radius: 4px; }

#blow_out, #replay, #github, #continue { box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75); }

#alert_box { background: #51948e; }

.sub_content_wrapper { background: #acd2ce; }

body { background: #deedeb; }

#blow_out, #replay, #github, #continue { background: #fd7d50; }

#blow_out:hover, #replay:hover, #github:hover, #continue:hover, #blow_out:focus, #replay:focus, #github:focus, #continue:focus { background: #c32c48; }

#blow_out:active, #replay:active, #github:active, #continue:active { background: #851e31; }

#blow_out, #replay, #github, #continue { border: 2px solid white; }

* { box-sizing: border-box; }

html, body { height: 100%; width: 100%; margin: 0; padding: 0; }

html { font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, "Trebuchet MS", Verdana, sans-serif; }

#blow_out, #replay, #github, #continue { letter-spacing: 0.025em; }

h1, p { letter-spacing: normal; line-height: 1.5; margin: 1em 8px; }

html, a { color: white; -webkit-font-smoothing: antialiased; }

#blow_out, #replay, #github, #continue { font-size: 22px; }

a, #blow_out, #replay, #github, #continue { text-decoration: none; }
a:hover, #blow_out:hover, #replay:hover, #github:hover, #continue:hover { cursor: pointer; }

html { text-align: center; }

h1 { font-size: 30px; }

p { font-size: 20px; }

a { font-weight: bold; }
p a:hover, p a:focus { color: #c32c48; }
p a:active { color: #851e31; }

#blow_out, #replay, #github, #continue { display: inline-block; z-index: 770; }

#blow_out, #replay, #github, #continue { padding: 11px 22px; }

.button_group { bottom: 18px; left: 18px; z-index: 20; }

#blow_out, #replay, #github { margin: 9px; }

#body_wrapper { margin-left: auto; margin-right: auto; max-width: 999px; width: 100%; display: block; }

#scene_box, #alert_box { position: relative; margin: auto; height: 100%; width: 100%; }

#body_wrapper { position: relative; min-height: 100%; }

.sub_content_wrapper { position: absolute; top: 0; bottom: 0; width: 100%; }

#overlay { z-index: 750; }

#scene_box { z-index: 30; }

#alert_box { overflow-y: auto; padding: 32px; }

#banner_container, #cake_container, #balloon_container, .button_group { position: absolute; margin: auto; }

#banner_container, #balloon_container { top: 0; bottom: 5%; left: 0; right: 0; overflow: hidden; }

#banner_container { z-index: 15; }

#cake_container { top: 20%; bottom: 0; left: 0; right: 0; padding: 16px; z-index: 10; }

#balloon_container { z-index: 5; }

.button_group { display: block; }

.textbox { position: relative; display: block; padding: 24.75px; max-width: 45em; margin: 16px auto 32px; }

#continue { position: relative; }

.svg .obsvg { width: 100%; height: 100%; }

.svgfallback#cake_obj, .svgfallback#balloons_obj, .svgfallback#banner_obj, .no-svg #cake_obj, .no-svg #balloons_obj, .no-svg #banner_obj, .no-js #cake_fallback { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; width: 500px; height: 500px; overflow: hidden; }

.svgfallback#cake_obj, .no-svg #cake_obj, .no-js #cake_fallback { background: url(../img/cake500.png) no-repeat top left; }

.svgfallback#balloons_obj, .no-svg #balloons_obj { background: url(../img/balloons.png) no-repeat top left; }

.svgfallback#banner_obj, .no-svg #banner_obj { background: url(../img/banner.png) no-repeat top left; }

.js #cake_fallback, .no-js #cake_obj { display: none; }

.showUnderlay { z-index: 800; }

.svg #blow_out, .svg #replay, .svg #github, .svg #balloons_obj, .svg #banner_obj { display: none; }
