//================================================
// BACKGROUND COLORS
//================================================
$bg_color_dark_primary: $color5;
$bg_color_light_primary: $lighterColor5;
$bg_color_lightest_primary: $lightestColor5;
%bg_color_dark_primary { background: $bg_color_dark_primary; }
%bg_color_light_primary { background: $bg_color_light_primary; }
%bg_color_lightest_primary { background: $bg_color_lightest_primary; }

//================================================
// BUTTON BACKGROUND COLORS
//================================================

$button_bg_color_primary: $color2;
$button_bg_color_secondary: $color1;
$button_bg_color_tertiary: $darkColor1;
%button_bg_color_primary { background: $button_bg_color_primary; }
%button_bg_color_secondary { background: $button_bg_color_secondary; }
%button_bg_color_tertiary { background: $button_bg_color_tertiary; }

//================================================
// BORDERS
//================================================
$scene_box_border: $fontSize16 solid $color5 ;
$button_border: $buttonBorderWidth solid $primaryFontColor ;
%button_border { border: $button_border; }