//================================================
//	BUTTON EXTENDERS
//================================================
%buttonBase {
	@extend %link;
	@extend %button_bg_color_primary;
	@extend %primaryFontColor;
	@extend %text_center;
	&:hover, &:focus {
		@extend %button_bg_color_secondary;
	}
	&:active {
		@extend %button_bg_color_tertiary;
		border-color: $darkenWhite;
	}
}

%buttonLink {
	@extend %buttonBase;
	@extend %linkFontSize;
	line-height: $buttonHeight;
}

	%buttonC-Link {
		@extend %buttonBase;
		@extend %box_shadow1;
		@extend %button_border;
		@extend %linkFontSize;
		display: inline-block;	
		z-index: 770;
	}
	%textButton {
		@extend %letterSpacingMore;
		@extend %border_radius_standard;
		padding: ($linkFontSize / 2) $linkFontSize ;
	}
%animationButton {
	@extend %buttonC-Link;
	@extend %textButton;
	display: none; //revealed in javaScript 
	bottom: $fontSize18;
	left: $fontSize18;
	// bottom: 1.125rem;
	// left: 1.125rem;
	z-index: 20;
}
