//================================================
// BORDER RADIUS
//================================================
	$border_radius_circle: none;
	$border_radius_standard: none;
	%border_radius_standard { border-radius: $border_radius_standard; }
//================================================
// BOX SHADOWS
//================================================
	%box_shadow1 {
		/* no box-shadow for ie8 */
		// zoom: 1;
	}
	%inset_box_shadow1 {
		/* no box-shadow for ie8 */
		zoom: 1;
	}