//================================================
// LAYOUT EXTENDERS
//================================================
%wrapper {
	margin-left: auto;
	margin-right: auto;
    max-width: $bp-medium-max;
    width: 100%;
    display: block;
}
%_box {
	position: relative;
	margin: auto;
	height: 100%;
	width: 100%;
}
//================================================
// APPLIED LAYOUT
//================================================

.body_wrapper {
	@extend %wrapper;
	position: relative;
	min-height: 100%;
}
.sub_content_wrapper {
	// @extend %box_shadow1;			//is in _mediaqueries.scss
	@extend %bg_color_light_primary;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

// #overlay {
// 	z-index: 750;
// }

#scene_box {
	@extend %_box ;
	// z-index: 30;
}

#alert_box {
	@extend %_box ;
	@extend %bg_color_dark_primary;
	overflow-y: auto;
	padding: $fontSize32;
}