//================================================
// MEDIAQUERIES
//================================================

@include mq-xsmall-max {
	#blow_out,
	#underlay .button_group {
		right: $fontSize18;
		left: $fontSize18;
		margin: 0 auto;
	}
}
@include mq-small-max {
	html {
		font-size: 90%;
	}
}
@include mq-large-min {
	//if less than this size, default value pushes header and footer out of document. 
	// #overlay,
	#underlay {
		// border-radius: $border_radius_standard;
		// top: $headerHeight;
		// bottom: $footerHeight;
		box-shadow: $box_shadow1;
	}
	// #scene_box,
	// #alert_box {
	// 	border-radius: $border_radius_standard;
	// }
}