//==========================================================================
//   TEXT SIZES VARIABLES
//========================================================================== 
//FONT-SIZE SCALE
    $fontSize1: 1px;
    $fontSize2: 2px;
    $fontSize3: 3px;
    $fontSize4: 4px;
    $fontSize5: 5px;
    $fontSize6: 6px;
    $fontSize7: 7px;
    $fontSize8: 8px;
    $fontSize9: 9px;
    $fontSize10: 10px;
    $fontSize11: 11px;
    $fontSize12: 12px;
    $fontSize13: 13px;
    $fontSize14: 14px;
    $fontSize15: 15px;
    $fontSize16: 16px;
    $fontSize17: 17px;
    $fontSize18: 18px;
    $fontSize19: 19px;
    $fontSize20: 20px;
    $fontSize21: 21px;
    $fontSize22: 22px;
    $fontSize23: 23px;
    $fontSize24: 24px;

    $fontSize30: 30px;
    $fontSize32: 32px;
    $fontSize36: 36px;
    $fontSize40: 40px;
    $fontSize48: 48px;
    $fontSize60: 60px;
    $fontSize72: 72px;
