.obSvg {
	width: 100%;
	height: 100%;
}
%svgfallbackPositioning {
	@extend %absoluteCenter;
	text-indent: 500px;		//move the YourBrowserDoesNotSupportSVG text out of box
	overflow: hidden;		//hide the text and rest of sprite
	width: 500px;
	height: 500px;	
}
%cakefallback {
	background: url(../img/cake500.png) no-repeat top left;
}
%balloonsfallback {
	background: url(../img/balloons.png) no-repeat top left;
}
%bannerfallback {
	background: url(../img/banner.png) no-repeat top left;
}
.svgfallback {
	@extend %svgfallbackPositioning;
	// @extend %absoluteCenter;
	// text-indent: 500px;		//move the YourBrowserDoesNotSupportSVG text out of box
	// overflow: hidden;		//hide the text and rest of sprite
	// width: 500px;
	// height: 500px;
	&#cake_obj {
		@extend %cakefallback;
	}
	&#balloons_obj {
		@extend %balloonsfallback;
	}
	&#banner_obj {
		@extend %bannerfallback;
	}
}
.js {
	#cake_fallback {
		display: none;
	}
}
.no-js {
	#cake_fallback {
		@extend %svgfallbackPositioning;
		@extend %cakefallback;
	}
	#cake_obj {
		display: none;
	}
}
// .no-svg { 
// 	.obSvg {
// 		@extend .svgfallback;
// 	}
// }