.svg .obSvg {
	width: 100%;
	height: 100%;
}
%svgfallbackPositioning {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;  
	display: block;
	width: 500px;
	height: 500px;	
	text-indent: 500px;		//move the YourBrowserDoesNotSupportSVG text out of box
	overflow: hidden;		//hide the text and rest of sprite	
}
%cakefallback {
	background: url(../img/cake500.png) no-repeat top left;
}
%balloonsfallback {
	background: url(../img/balloons.png) no-repeat top left;
}
%bannerfallback {
	background: url(../img/banner.png) no-repeat top left;
}
.svgfallback {
	&#cake_obj {
		@extend %svgfallbackPositioning;
		@extend %cakefallback;
	}
	&#balloons_obj {
		@extend %svgfallbackPositioning;
		@extend %balloonsfallback;
	}
	&#banner_obj {
		@extend %svgfallbackPositioning;
		@extend %bannerfallback;
	}
}
.no-svg {
	#cake_obj {
		@extend %svgfallbackPositioning;
		@extend %cakefallback;
	}
	#balloons_obj {
		@extend %svgfallbackPositioning;
		@extend %balloonsfallback;
	}
	#banner_obj {
		@extend %svgfallbackPositioning;
		@extend %bannerfallback;
	}
}
.js #cake_fallback,
.no-js #cake_obj {
	display: none;
}
.no-js {
	#cake_fallback {
		@extend %svgfallbackPositioning;
		@extend %cakefallback;
	}
	// #cake_obj {
	// 	display: none;
	// }
}