.textbox { 
	position: relative;
	display: block;
	padding: $buttonHeight / 2;
	max-width: 45em;
	// margin: 1rem auto 2rem;
	margin: $fontSize16 auto $fontSize32;
	span {
		color: $darkenWhite;
		// font-weight: lighter;
	}
}
#close {
	@extend %buttonC-Link;
	width: $linkFontSize * 1.5;
	height: $linkFontSize * 1.5;
	line-height: 1.3;
	position: absolute;
	// top: 2rem;
	// right: 2rem;
	top: $fontSize32;
	right: $fontSize32;
	border-radius: 100%;
	&:after {
		@extend %absoluteCenter;
		content: "\2715";
	}
}
#continue {
	@extend %buttonC-Link;
	@extend %textButton;
	position: relative;
}


