.textbox { 
	position: relative;
	display: block;
	padding: $fontSize8;
	max-width: 45em;
	margin: $fontSize16 auto;
}
#overlay .button_group {
	@extend %buttonPosCenter;
	& a {
		@extend %inlineButton;
	}
}