//==========================================================================
//   TEXT SIZES VARIABLES
//========================================================================== 
//----------------------------------------------------------------------
//BASE SIZES DEFINED
//$root-font-size:1em; /*set at 100% in _normalize.  will size based on user preferences*/
//---------------------------------------------------------------------
//FONT-SIZE SCALE
    $fontSize1: 0.0625rem;
    $fontSize2: 0.125rem;
    $fontSize3: 0.1875rem;
    $fontSize4: 0.25rem;
    $fontSize5: 0.3125rem;
    $fontSize6: 0.375rem;
    $fontSize7: 0.4375rem;
    $fontSize8: 0.5rem;
    $fontSize9: 0.5625rem;
    $fontSize10: 0.625rem;
    $fontSize11: 0.6875rem;
    $fontSize12: 0.75rem;
    $fontSize13: 0.8125rem;
    $fontSize14: 0.875rem;
    $fontSize15: 0.9375rem;
    $fontSize16: 1rem;
    $fontSize17: 1.0625rem;
    $fontSize18: 1.125rem;
    $fontSize19: 1.1875rem;
    $fontSize20: 1.25rem;
    $fontSize21: 1.3125rem;
    $fontSize22: 1.375rem;
    $fontSize23: 1.4375rem;
    $fontSize24: 1.5rem;

    $fontSize30: 1.875rem;
    $fontSize32: 2rem;
    $fontSize36: 2.25rem;
    $fontSize40: 2.5rem;
    $fontSize48: 3rem;
    $fontSize60: 3.75rem;
    $fontSize72: 4.5rem;